<ion-header>
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-color">
	<div *ngIf="showLoader" class="loader-bg">
        <ion-spinner class="spinner" color="light"></ion-spinner>
    </div>
    <div class="banner">
        <div class="d-flex profile">
            <div class="profile_img center_img">
                <img src="{{details.upload_photo ? details.upload_photo : 'assets/imgs/avatar.png'}}" class="crop_img">
            </div>
            <div class="profile_details">
                <div class="text-box">
                    <h2>{{details.distance}} km</h2>
                    <h3>{{'away' | translate}}</h3>
                </div>
                <!--<div class="text-box">
                    <h2>$9.50</h2>
                    <h3>{{'per_hour' | translate}}</h3>
                </div>-->
                <div class="text-box">
                    <h2>
                        <ion-badge class="end">{{details.rating}} <ion-icon class="material-icons">star</ion-icon>
                        </ion-badge> <small>({{ratings.count}})</small>
                    </h2>
                    <h3>{{'avg_rating' | translate}}</h3>
                </div>
            </div>
        </div>
        <div class="other_details">
            <h2 class="d-flex">{{details.shop_name ? details.shop_name : details.name}}
                <!-- <span class="end icon_box">
                    <ion-icon class="material-icons">local_phone</ion-icon>
                    <ion-icon class="material-icons">email</ion-icon>
                </span> -->
            </h2>
            <!-- <h3> Plumber</h3> -->
        </div>

        <ion-segment [(ngModel)]="about_tab">
            <ion-segment-button value="product">
                Products
            </ion-segment-button>
            <ion-segment-button value="about" (click)="reqTabClick()">
                Requirement
            </ion-segment-button>
            <ion-segment-button value="ratings" [hidden]="LOGIN==false">
                {{'ratings' | translate}}
            </ion-segment-button>
        </ion-segment>
    </div>

    <div class="tab_container" [ngSwitch]="about_tab">
        <ion-list no-lines *ngSwitchCase="'product'">
            <ion-item *ngFor="let data of product_list; let i = index">
                <div class="img_box center_img" item-start>
                    <img src="{{data.image_url ? data.image_url : 'assets/imgs/avatar.png'}}" class="crop_img">
                </div>
                <h2 class="d-flex"><span>{{data.product_name }}</span>
                </h2>
                <!-- <h3>Plumber</h3> -->
                <h3 class="d-flex"> ₹ {{data.sale_price}} / {{data.unit_value}} {{data.unit}} </h3>
                <h3 *ngIf="(data.mrp > data.sale_price)" class="d-flex"> <s style="color:red;margin-left: 5px;"> ₹ {{data.mrp}} / {{data.unit_value}} {{data.unit}}</s></h3>
                <p class="stock-label" >{{data.stock ==  0? 'Out of stock' : ''}}</p>
                <!-- <h3  class="d-flex"></h3> -->
                <!-- <h3 *ngIf="data?.cart_details?.qty" class="d-flex">Quantity {{data?.cart_details?.qty}}</h3> -->
                <!-- <h3 class="d-flex">Total Unit Price {{data.unit_value}}</h3> -->
                <button [disabled]="disable_cart_btn || data.stock ==0" *ngIf="!data?.added_in_cart" (click)="addCart(data)" class="d-flex" ion-button><ion-icon class="material-icons" item-end>shopping_cart</ion-icon>Add to trolley</button>
                <button [disabled]="disable_cart_btn || data.stock ==0" *ngIf="data?.added_in_cart" (click)="editQty(data)" class="d-flex" ion-button><ion-icon class="material-icons" item-end>shopping_cart</ion-icon>Edit Qty</button>
                <button [disabled]="disable_cart_btn || data.stock ==0" *ngIf="data?.added_in_cart" (click)="removeFromCart(data)" class="d-flex" ion-button><ion-icon class="material-icons" item-end>remove_shopping_cart</ion-icon>Remove</button>
                <div class="cart-qty">
                    <button ion-button (click)="openDesc(data)"  class="d-flex cart-btn">Description</button>
                 </div>
            </ion-item>
    
            <div *ngIf="product_list.length == 0" class="emptydata" align="center">
                <img src="assets/imgs/sad_smiley.png" style="max-height: 150px" />
                <h4>Currently there are no products.</h4>
            </div>
        </ion-list>
    </div>

    <div class="tab_container" [ngSwitch]="about_tab">
    	<form [formGroup]="orderForm">
	        <ion-list no-lines *ngSwitchCase="'about'">
	            <div class="text_box">
	                <p>Please provide your detailed requirement to receive accurate quotation.</p>
	                <br/>
	            </div>
	            <ion-item [class.invalid]="!orderForm.controls.requirement.valid && (orderForm.controls.requirement.dirty || submitAttempt)">
				  <ion-textarea formControlName="requirement" rows="6" placeholder="Please type your requirement here..."></ion-textarea>
				</ion-item>
				<p class='error' *ngIf="!orderForm.controls.requirement.valid  && (orderForm.controls.requirement.dirty || submitAttempt)">Please enter your requirement.</p>

				<div style="margin: 20px 0 10px 0">
					<button ion-button class="button-md-dark" block (click)="openImageSelector()"><ion-icon class="material-icons">images</ion-icon> Upload Images (optional)</button>
	                <ion-input multiple style="display:none" (change)="renderImages(event)" type="file" accept="image/*" id="requirement_images"></ion-input>
				</div>
				<div class="uploaded_images"></div>
                <button ion-button full class="btn" (click)="request_quote()">Request Quotation</button>
	        </ion-list>
	    </form>

        <ion-list no-lines *ngSwitchCase="'ratings'">
            <ion-item *ngFor="let review of ratings.reviews">
                <div class="img_box center_img" item-start>
                    <img src="{{review.customer.profilepic}}" class="crop_img">
                </div>
                <h2 class="d-flex"><span>{{review.customer.name}}</span>
                    <ion-badge class="end">{{review.rating}} <ion-icon class="material-icons">star</ion-icon>
                    </ion-badge>
                </h2>
                <h3>{{review.subcategory}} | {{review.created_at}}</h3>
                <p>{{review.comment}}</p>
            </ion-item>
            <ion-item *ngIf="ratings.reviews.length==0">
                <h3>No Rating</h3>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<div *ngIf="showDesc" class="modal-pop">
    <div class="modal-inner">
        <div class="modal-header">
            <!-- <h2>{{popHeading}}</h2> -->
            <button class="close-btn" (click)="closeDesc()"> &#10006;</button>
        </div>
        <div class="modal-body">
            <p [innerHTML]="productDesc">
            </p>
            <!-- <img [src]="popup_image" [title]="popHeading" [alt]="popHeading" /> -->
        </div>
    </div>
</div>