page-plumber_profile {

    .scroll-content {
        .btn {
            margin-bottom: 0!important;
        }
    }

    .banner {
        padding: 0 13px;

        .profile {
            align-items: flex-start;

            .profile_img {
                min-width: 180px;
                width: 180px;
                height: 180px;
                border-radius: 5px;
                margin-right: 16px;
                box-shadow: 0 18px 13px -5px rgba(0, 0, 0, 0.34);
            }

            .profile_details {
                .text-box {
                    margin-bottom: 23px;

                    h2 {
                        color: $white;
                        margin: 0;
                        font-size: 1.8rem;
                        font-weight: 400;
                        margin-bottom: 5px;

                        .badge {
                            display: flex;
                            align-items: center;
                            font-size: 1.2rem;
                            font-weight: 500;
                            padding: 4px 0px 4px 5px;
                            border-radius: 4px;
                            color: $white;
                            background: $theme-color;
                            min-width: 35px;
                            display: inline-block;

                            ion-icon {
                                color: $white;
                                font-size: 1rem;
                                margin: 0 5px;

                            }

                        }

                        small {
                            color: $gray;
                            font-size: 1.25rem;
                            margin: 0 5px;
                        }
                    }

                    h3 {
                        margin: 0;
                        color: $gray;
                        font-size: 1.25rem;
                        font-weight: 400;
                        letter-spacing: .5px;
                    }
                }

            }

        }

        .other_details {
            padding-top: 10px;
            padding-bottom: 16px;

            h2 {
                margin: 0;
                color: $white;
                font-size: 2.2rem;

                .icon_box {
                    display: flex;
                    min-width: 85px;

                    ion-icon {
                        color: $theme-color;
                        border: 1px solid $theme-color;
                        border-radius: 50%;
                        text-align: center;
                        margin: 0 5px;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        font-size: 1.6rem;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            h3 {
                margin: 0;
                color: $gray;
                font-size: 1.5rem;
                font-weight: 400;
                letter-spacing: .5px;
            }
        }

        .segment {
            border: none !important;
            background: none !important;
            justify-content: unset;

            .segment-button {
                position: relative;
                color: darken($gray, 30%);
                text-transform: capitalize;
                max-height: unset;
                padding: 0px;
                border: none !important;
                background: none;
                opacity: 1;
                font-size: 1.8rem;
                font-weight: 600;
                letter-spacing: .5px;
                z-index: 99;
                text-align: justify;
                max-width: 150px;

                &.segment-activated {
                    color: $theme-color;
                }
            }

        }
    }

    .uploaded_images img {
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        float: left;
        object-fit: cover;
        max-height: 50vw;
    }

    .tab_container {
        width: calc(100% - 26px);
        margin: 0 auto;
        margin-top: 15px;

        .list {
            .text_box {
                p {
                    color: $white;
                    margin: 0;
                    font-size: 1.4rem;
                    line-height: 25px;
                    letter-spacing: .5px;
                }
            }

            .item {
                padding: 10px 10px 10px 0px;
                background: none;
                border-radius: 5px;
                margin: 0 auto;
                margin-bottom: 10px;
                align-items: flex-start;

                /*&::before {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: calc(100% - 44px);
                    height: 100%;
                    background: $item_bg;
                    border-radius: 5px;
                }*/

                .img_box {
                    width: 60px;
                    height: 60px;
                    border-radius: 5px;
                    margin: 0 !important;
                    margin-right: 16px !important;
                    box-shadow: 0 18px 13px -5px rgba(0, 0, 0, 0.34);
                }

                .item-inner {
                    padding: 0;

                    ion-textarea{
                        color: #13de81;
                        border-bottom: 1px solid green;
                    }

                    .label {
                        margin: 0;
                        position: relative;
                        z-index: 99;
                        white-space: normal;

                        h2 {
                            color: $white;
                            font-size: 1.35rem;
                            font-weight: 500;
                            margin: 0;
                            margin-bottom: 3px;

                            span {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            .badge {
                                display: flex;
                                align-items: center;
                                font-size: 1.5rem;
                                font-weight: 500;
                                padding: 4px 0px 4px 4px;
                                border-radius: 4px;
                                color: $white;
                                background: $theme-color;
                                min-width: 35px;

                                ion-icon {
                                    color: $white;
                                    font-size: 1.2rem;
                                    margin: 0 4px;
                                    vertical-align:middle;
                                }
                            }

                        }

                        h3 {
                            margin: 0;
                            color: $gray;
                            font-size: 1.2rem;
                            margin-bottom: 10px;
                        }

                        p {
                            margin: 0;
                            color: $white;
                            font-weight: 400;
                            letter-spacing: .5px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }

    .footer {
        .button.btn {
            margin: 0;
        }
    }
}
