page-list_of_plumber {
    .header .toolbar .title .end {
        color: $gray;
        font-size: 1.3rem;
        font-weight: 400;
    }

    .list {
        margin: 0;
        margin-top: 16px;

        .emptydata{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 79vh;

            img{
                max-height: 130px;
                max-width: 130px;
                margin: 0 auto;
                width: auto;
            }

            h4{
                color: #fff;
                padding: 0 10px;
            }
        }

        .item {
            padding: 10px 10px 10px 0px;
            background: none;
            border-radius: 5px;
            width: calc(100% - 20px);
            margin: 0 auto;
            margin-bottom: 10px;

            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: calc(100% - 44px);
                height: 100%;
                background: $item_bg;
                border-radius: 5px;
            }

            .img_box {
                width: 60px;
                height: 60px;
                border-radius: 5px;
                margin: 0 !important;
                margin-right: 16px !important;
                box-shadow: 0 18px 13px -5px rgba(0, 0, 0, 0.34);

            }

            .item-inner {
                padding: 0;

                .label {
                    margin: 0;
                    position: relative;
                    z-index: 99;

                    h2 {
                        color: $white;
                        font-size: 1.6rem;
                        font-weight: 500;
                        margin: 0;

                        span {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .badge {
                            display: flex;
                            align-items: center;
                            font-size: 1.5rem;
                            font-weight: bold;
                            padding: 4px 0px 4px 4px;
                            border-radius: 4px;
                            color: $white;
                            background: $theme-color;
                            min-width: 35px;

                            ion-icon {
                                color: $white;
                                font-size: 1.5rem;
                                margin: 0 4px;

                            }
                        }

                    }

                    h3 {
                        margin: 0;
                        color: $gray;
                        font-size: 1rem;
                        margin-bottom: 10px;
                    }

                    p {
                        margin: 0;
                        color: $white;
                        font-size: 1.3rem
                    }
                }
            }
        }
    }

}
